#Data Analysis with Python: Merging and Joining DataFrames with Pandas

In [1]:
import pandas as pd

In [2]:
# Load the datasets
df1 = pd.read_csv("/content/emp_details.csv")
df2 = pd.read_csv("/content/emp_salaries.csv")

In [7]:
df1.tail()

    ID     Name  Age Department
45  46      Tim   50         HR
46  47   Ursula   35         IT
47  48  Vincent   40    Finance
48  49     Will   45         HR
49  50     Xena   50         IT

In [8]:
# Set index to 'ID'
df1.set_index('ID')
df2.set_index("ID")

    Salary
ID
1    50000
2    60000
3    70000
4    80000
5    90000
6   100000
7    75000
8    85000
9    95000
10  105000
51   50000
52   60000
53   70000
54   80000
55   90000
56  100000
57   75000
58   85000
59   95000
60  105000
11   50000
12   60000
13   70000
14   80000
15   90000
16  100000
17   75000
18   85000
19   95000
20  105000
61   50000
62   60000
63   70000
64   80000
65   90000
66  100000
67   75000
68   85000
69   95000
70  105000
21   50000
22   60000
23   70000
24   80000
25   90000
26  100000
27   75000
28   85000
29   95000
30  105000

In [15]:
# Inner Join
inner_join = pd.merge(df1 , df2 ,on ='ID', how ='inner')
inner_join # it takes only common values from both tables

(30, 5)

In [18]:
# Outer Join
outer_join = pd.merge(df1 , df2, on ="ID", how="outer")
outer_join # it takes all values including non common values also

    ID     Name   Age Department    Salary
0    1    Alice  25.0         HR   50000.0
1    2      Bob  30.0         IT   60000.0
2    3  Charlie  35.0    Finance   70000.0
3    4    David  40.0         IT   80000.0
4    5      Eve  45.0         HR   90000.0
..  ..      ...   ...        ...       ...
65  66      NaN   NaN        NaN  100000.0
66  67      NaN   NaN        NaN   75000.0
67  68      NaN   NaN        NaN   85000.0
68  69      NaN   NaN        NaN   95000.0
69  70      NaN   NaN        NaN  105000.0

[70 rows x 5 columns]

In [19]:
# Left Join
left_join =  pd.merge(df1, df2, on='ID',how = 'left')
left_join # it check for left table and return matching values from right table if data not found then NAN

    ID     Name  Age Department    Salary
0    1    Alice   25         HR   50000.0
1    2      Bob   30         IT   60000.0
2    3  Charlie   35    Finance   70000.0
3    4    David   40         IT   80000.0
4    5      Eve   45         HR   90000.0
5    6    Frank   50    Finance  100000.0
6    7    Grace   30         IT   75000.0
7    8   Hannah   40    Finance   85000.0
8    9      Ian   35         HR   95000.0
9   10     Jane   25         IT  105000.0
10  11     Karl   45    Finance   50000.0
11  12    Laura   50         HR   60000.0
12  13  Michael   35         IT   70000.0
13  14     Nina   40    Finance   80000.0
14  15    Oscar   45         IT   90000.0
15  16   Pamela   50         HR  100000.0
16  17   Quincy   30    Finance   75000.0
17  18   Rachel   35         IT   85000.0
18  19    Steve   40    Finance   95000.0
19  20      Tom   45         HR  105000.0
20  21      Uma   50         IT   50000.0
21  22   Victor   35    Finance   60000.0
22  23    Wendy   40         HR   70000.0
23  24   Xander   45         IT   80000.0
24  25     Yara   50    Finance   90000.0
25  26     Zach   30         HR  100000.0
26  27     Alex   35         IT   75000.0
27  28    Betty   40    Finance   85000.0
28  29     Carl   45         IT   95000.0
29  30    Diane   50         HR  105000.0
30  31   Edward   35    Finance       NaN
31  32    Fiona   40         IT       NaN
32  33   George   45         HR       NaN
33  34    Holly   50    Finance       NaN
34  35     Ivan   35         IT       NaN
35  36  Jessica   40    Finance       NaN
36  37    Kevin   45         HR       NaN
37  38    Linda   50         IT       NaN
38  39     Mike   35    Finance       NaN
39  40     Nora   40         HR       NaN
40  41     Omar   45         IT       NaN
41  42    Patty   50    Finance       NaN
42  43    Quinn   35         HR       NaN
43  44      Ron   40         IT       NaN
44  45    Susan   45    Finance       NaN
45  46      Tim   50         HR       NaN
46  47   Ursula   35         IT       NaN
47  48  Vincent   40    Finance       NaN
48  49     Will   45         HR       NaN
49  50     Xena   50         IT       NaN

In [20]:
# Right Join
#right is opposite of left

right_join = pd.merge(df1, df2 , on="ID", how = "right")
right_join

    ID     Name   Age Department  Salary
0    1    Alice  25.0         HR   50000
1    2      Bob  30.0         IT   60000
2    3  Charlie  35.0    Finance   70000
3    4    David  40.0         IT   80000
4    5      Eve  45.0         HR   90000
5    6    Frank  50.0    Finance  100000
6    7    Grace  30.0         IT   75000
7    8   Hannah  40.0    Finance   85000
8    9      Ian  35.0         HR   95000
9   10     Jane  25.0         IT  105000
10  51      NaN   NaN        NaN   50000
11  52      NaN   NaN        NaN   60000
12  53      NaN   NaN        NaN   70000
13  54      NaN   NaN        NaN   80000
14  55      NaN   NaN        NaN   90000
15  56      NaN   NaN        NaN  100000
16  57      NaN   NaN        NaN   75000
17  58      NaN   NaN        NaN   85000
18  59      NaN   NaN        NaN   95000
19  60      NaN   NaN        NaN  105000
20  11     Karl  45.0    Finance   50000
21  12    Laura  50.0         HR   60000
22  13  Michael  35.0         IT   70000
23  14     Nina  40.0    Finance   80000
24  15    Oscar  45.0         IT   90000
25  16   Pamela  50.0         HR  100000
26  17   Quincy  30.0    Finance   75000
27  18   Rachel  35.0         IT   85000
28  19    Steve  40.0    Finance   95000
29  20      Tom  45.0         HR  105000
30  61      NaN   NaN        NaN   50000
31  62      NaN   NaN        NaN   60000
32  63      NaN   NaN        NaN   70000
33  64      NaN   NaN        NaN   80000
34  65      NaN   NaN        NaN   90000
35  66      NaN   NaN        NaN  100000
36  67      NaN   NaN        NaN   75000
37  68      NaN   NaN        NaN   85000
38  69      NaN   NaN        NaN   95000
39  70      NaN   NaN        NaN  105000
40  21      Uma  50.0         IT   50000
41  22   Victor  35.0    Finance   60000
42  23    Wendy  40.0         HR   70000
43  24   Xander  45.0         IT   80000
44  25     Yara  50.0    Finance   90000
45  26     Zach  30.0         HR  100000
46  27     Alex  35.0         IT   75000
47  28    Betty  40.0    Finance   85000
48  29     Carl  45.0         IT   95000
49  30    Diane  50.0         HR  105000