In [138]:
import pandas as pd 
import numpy as np
!pip install scipy
from scipy import stats

Requirement already satisfied: scipy in d:\anaconda\envs\obitorin07\lib\site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in d:\anaconda\envs\obitorin07\lib\site-packages (from scipy) (1.26.4)

In [65]:
df = pd.read_csv(r"sample_Data_Set.csv") #load dataset

In [82]:
df

,Age,Salary,Experience,Education_Level,Hours_Per_Week,Job_Satisfaction,Department,Gender
0,25,50000,2,12,40,3,Sales,Female
1,32,60000,5,16,50,4,Marketing,Male
2,47,80000,20,16,45,5,Finance,Female
3,51,75000,15,14,60,4,IT,Male
4,28,55000,3,12,40,3,Sales,Female
5,36,62000,7,16,50,4,Marketing,Male
6,22,45000,1,12,35,2,Sales,Female
7,48,70000,12,16,55,5,Finance,Male
8,33,67000,8,16,50,4,IT,Female
9,41,72000,10,14,45,3,Sales,Male
10,27,52000,4,14,38,3,Marketing,Female
11,39,65000,9,16,52,4,Finance,Male
12,45,78000,18,16,48,5,IT,Female
13,29,57000,4,14,42,3,Sales,Male
14,34,63000,6,16,47,4,Marketing,Female
15,50,74000,14,16,53,4,Finance,Male
16,24,48000,2,12,37,2,Sales,Female
17,38,66000,11,16,49,4,Marketing,Male
18,26,51000,3,14,39,3,Sales,Female
19,42,73000,13,16,54,4,Finance,Male
20,30,58000,5,14,43,3,IT,Female
21,35,64000,7,16,46,4,Sales,Male
22,49,77000,17,16,56,5,Marketing,Female
23,31,59000,6,14,44,4,Finance,Male
24,44,76000,16,16,50,4,IT,Female

In [67]:
df.shape

(25, 8)

In [108]:
df.dtypes

Age                 object
Salary               int64
Experience           int64
Education_Level     object
Hours_Per_Week       int64
Job_Satisfaction     int64
Department          object
Gender              object
dtype: object

In [69]:
df.columns

Index(['Age', 'Salary', 'Experience', 'Education_Level', 'Hours_Per_Week',
       'Job_Satisfaction', 'Department', 'Gender'],
      dtype='object')

In [107]:
#change datatypes because some column doesnt make sense lets convert data into categorical 
df = df.astype({'Age':"object",'Education_Level':'object',})

In [106]:
df.describe(include='all')

,Age,Salary,Experience,Education_Level,Hours_Per_Week,Job_Satisfaction,Department,Gender
count,25.0,25.000000,25.000000,25.000000,25.000000,25.000000,25,25
unique,25.0,NaN,NaN,NaN,NaN,NaN,4,2
top,25.0,NaN,NaN,NaN,NaN,NaN,Sales,Female
freq,1.0,NaN,NaN,NaN,NaN,NaN,8,13
mean,NaN,63880.000000,8.720000,14.800000,46.720000,3.720000,NaN,NaN
std,NaN,10244.185343,5.579128,1.527525,6.484083,0.842615,NaN,NaN
min,NaN,45000.000000,1.000000,12.000000,35.000000,2.000000,NaN,NaN
25%,NaN,57000.000000,4.000000,14.000000,42.000000,3.000000,NaN,NaN
50%,NaN,64000.000000,7.000000,16.000000,47.000000,4.000000,NaN,NaN
75%,NaN,73000.000000,13.000000,16.000000,50.000000,4.000000,NaN,NaN
max,NaN,80000.000000,20.000000,16.000000,60.000000,5.000000,NaN,NaN

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               25 non-null     object
 1   Salary            25 non-null     int64
 2   Experience        25 non-null     int64
 3   Education_Level   25 non-null     object
 4   Hours_Per_Week    25 non-null     int64
 5   Job_Satisfaction  25 non-null     int64
 6   Department        25 non-null     object
 7   Gender            25 non-null     object
dtypes: int64(4), object(4)
memory usage: 1.7+ KB

In [119]:
df.select_dtypes(include='number').mean()

Salary              63880.00
Experience              8.72
Hours_Per_Week         46.72
Job_Satisfaction        3.72
dtype: float64

In [120]:
df.select_dtypes(include='number').median()

Salary              64000.0
Experience              7.0
Hours_Per_Week         47.0
Job_Satisfaction        4.0
dtype: float64

In [149]:
# df.select_dtypes(exclude='number').mode()
# stats.mode(df.Experience)

# df.Experience.value_counts().idxmax()

#these are also used to find mode

In [130]:
df.select_dtypes(include='number').var()

Salary              1.049433e+08
Experience          3.112667e+01
Hours_Per_Week      4.204333e+01
Job_Satisfaction    7.100000e-01
dtype: float64

In [131]:
df.select_dtypes(include='number').std()

Salary              10244.185343
Experience              5.579128
Hours_Per_Week          6.484083
Job_Satisfaction        0.842615
dtype: float64

In [132]:
range = df.select_dtypes(include='number').max() - df.select_dtypes(include='number').min()
range

Salary              35000
Experience             19
Hours_Per_Week         25
Job_Satisfaction        3
dtype: int64

In [133]:
df.isna().sum()

Age                 0
Salary              0
Experience          0
Education_Level     0
Hours_Per_Week      0
Job_Satisfaction    0
Department          0
Gender              0
dtype: int64

In [83]:
df.dtypes

Age                  int64
Salary               int64
Experience           int64
Education_Level      int64
Hours_Per_Week       int64
Job_Satisfaction     int64
Department          object
Gender              object
dtype: object