# Calculating the Average of Three Numbers

*   sum of all number / count number of values

#### Method 1: Using basic arithmetic

In [4]:
num1 = 2
num2 = 4
num3 = 6
avg_result = (num1 + num2 + num3) / 3
print(f"The Average of {num1}, {num2}, {num3} is :",avg_result)

The Average of 2, 4, 6 is : 4.0


#### Method 2: Using sum() and len() functions

In [8]:
numbers = [255,20,100,125,50]
avg_res = sum(numbers) / len(numbers)
print("The avarage value is :", avg_res)

The avarage value is : 110.0

#### Method 3: User Input

In [10]:
n1 = int(input("Enter The First Number:"))
n2 = int(input("Enter The Second Number:"))
n3 = int(input("Enter The Third Number:"))
result = (n1 + n2 + n3) /3
print(f"The Average of {n1}, {n2}, {n3} is :",result)

Enter The First Number:10
Enter The Second Number:20
Enter The Third Number:30
The Average of 10, 20, 30 is : 20.0

In [11]:
n1 = int(input("Enter The First Number:"))
n2 = int(input("Enter The Second Number:"))
n3 = int(input("Enter The Third Number:"))

print(f"The Average of {n1}, {n2}, {n3} is :",(n1 + n2 +n3)/3)

Enter The First Number:10
Enter The Second Number:20
Enter The Third Number:30
The Average of 10, 20, 30 is : 20.0

In [ ]:
#thank you