#About Variables

In [2]:
 a = 10
 A =20

In [3]:
print(a)

10

In [4]:
print(A)

20

About Case Sensitive

In [5]:
Name ="Kiran"
name = "Obito"

In [6]:
# it will print Kiran because python is case sensitive each charcter has their own different value
print(Name)

Kiran

In [7]:
print(name)

Obito

### variable to declare some important rules

In [8]:
name ="kiran"

In [9]:
name

'kiran'

In [10]:
_name ="kiran"

In [11]:
_name

'kiran'

In [13]:
# it will 100% shows an error
1name ="Hello my name"

SyntaxError: invalid decimal literal (<ipython-input-13-a81377cd1e51>, line 2)



1.   We cannot use first letter start with numers
2.   first letters should an alphabets
3.   We cannot use special character(@!$^&*) rather than _