#Global() and Local

##global

In [2]:
#!/usr/bin/env python3

x = 10 # the global variable

def value (x):
  print(f"The Value of x {x}")

value (x)

The Value of x 10

##local

In [4]:
#!/usr/bin/env python3

x = 20
def values(x):
  x = 15 #local variable
  print(f"The Local variable is {x}")
print(f"The global variable is {x}")

values(x)

The global variable is 20
The Local variable is 15

In [23]:
age = 23 # age is gloabal variable
name = 'Obito' # name is global variable
places = ['Konaha','Japan','Leaf'] # same global


def local():
  age = 20 # age is glocal variable
  name = 'Rin' # name is local variable
  print("The user name is %s and age is %d and where they from %s"%(name,age,places[0]))

local()

# calling global()
print(f"The user name is {name} and age is {age} and where they from {places[1]}")

The user name is Rin and age is 20 and where they from Konaha
The user name is Obito and age is 23 and where they from Japan

##using %s %i %d %f
1. it is same as format()
or f string

In [8]:

name = 'obitorin'
age = 15
print("My name is %s"%name)
print("My age is %d"%age)

My name is obitorin
My age is 15

In [11]:
print(f"my name is {name}")
print("my age is {}".format(age))

my name is obitorin
my age is 15

##global variable within fun

In [28]:
x = 20
def global_var():
  global x
  x =25
  print("The value ",x)

print(x)
#after fun
global_var()
print(x)

20
The value  25
25

#Recursion

1. like loop type gol gol gol gumna

In [40]:
def fact(n):
  if n<0:
    print("Number should be positive")
  elif n==0:
    print("Number Should be greater than 1")

  else:
    fact =1
    for i in range(1,n+1):
      fact =fact*i
    print(f"The factorial of {n}! is {fact}")

fact(5)

The factorial of 5! is 120

##Real recursion here

In [43]:
def fact(n):
  if n<0 or n ==0:
    print("Number should be positive")
  elif n==1:
    return 1
  else:
    return(n *fact(n-1))
fact(4)

24



#comprehension

In [70]:
name = 'Obitouchiha'
empty_list =[]

for i in name:
  empty_list.append(i)

In [71]:
empty_list

['O', 'b', 'i', 't', 'o', 'u', 'c', 'h', 'i', 'h', 'a']

In [80]:
data =[i for i in range(10)]

In [81]:
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

14

In [90]:
numbers = range(20)
empty_dict ={}

for no in numbers:
  if no %2==0:
    empty_dict[no]= no**2


empty_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [89]:
empty_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [101]:
dict_sqaures = {i :i **2 for i in numbers if i%2!=0}

In [96]:
dict_sqaures

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

In [99]:
for  key ,value in dict_sqaures.items():
  print(f"{key} sqaure is {value}")

1 sqaure is 1
3 sqaure is 9
5 sqaure is 25
7 sqaure is 49
9 sqaure is 81
11 sqaure is 121
13 sqaure is 169
15 sqaure is 225
17 sqaure is 289
19 sqaure is 361

In [102]:
for  key ,value in empty_dict.items():
  print(f"{key} sqaure is {value}")

0 sqaure is 0
2 sqaure is 4
4 sqaure is 16
6 sqaure is 36
8 sqaure is 64
10 sqaure is 100
12 sqaure is 144
14 sqaure is 196
16 sqaure is 256
18 sqaure is 324

In [108]:
dict1 = {'a':1,'b':2,'c':3,'d':4}
double_dict= { k*2:v*3 for k,v in dict1.items() }

In [109]:
double_dict

{'aa': 3, 'bb': 6, 'cc': 9, 'dd': 12}

#Zip()

In [119]:
# List of names
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Isaac', 'Julia']

# List of marks
marks = [85, 92, 78, 89, 95, 81, 90, 88, 84, 91]

zipped = tuple(zip(names,marks))

zipped2 = dict(zip(names,marks))
print(zipped,'\n')
zipped2

(('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 89), ('Eve', 95), ('Frank', 81), ('Grace', 90), ('Hannah', 88), ('Isaac', 84), ('Julia', 91))

{'Alice': 85,
 'Bob': 92,
 'Charlie': 78,
 'David': 89,
 'Eve': 95,
 'Frank': 81,
 'Grace': 90,
 'Hannah': 88,
 'Isaac': 84,
 'Julia': 91}

##unzip()

In [122]:
name ,mark =zip(*zipped)
print(name)
print(marks)

('Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Isaac', 'Julia')
[85, 92, 78, 89, 95, 81, 90, 88, 84, 91]

In [121]:
name

('Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Hannah',
 'Isaac',
 'Julia')

In [125]:
# List of names
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Isaac', 'Julia']

# List of marks
marks = [85, 92, 78, 89, 95, 81, 90, 88, 84, 91]

# List of salaries
salaries = [50000, 60000, 55000, 70000, 48000, 75000, 65000, 62000, 58000, 68000]

# List of places
places = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']

# zipping data
zipped = list(zip(names,marks,places,salaries))
zipped

[('Alice', 85, 'New York', 50000),
 ('Bob', 92, 'Los Angeles', 60000),
 ('Charlie', 78, 'Chicago', 55000),
 ('David', 89, 'Houston', 70000),
 ('Eve', 95, 'Phoenix', 48000),
 ('Frank', 81, 'Philadelphia', 75000),
 ('Grace', 90, 'San Antonio', 65000),
 ('Hannah', 88, 'San Diego', 62000),
 ('Isaac', 84, 'Dallas', 58000),
 ('Julia', 91, 'San Jose', 68000)]

###unzip only specific values
1. for _ work as placeholder if i have 4 variables are zipped and i want to unzip only 3 so in 4 th position '_' we use this underscore line


*   name ,mark,location,_=zip(*zipped)




2. for multiple variable you dont want to unzip use *_


*  name ,mark,*_=zip(*zipped)

In [138]:
name ,mark,*_=zip(*zipped)

In [128]:
name

('Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Hannah',
 'Isaac',
 'Julia')

In [139]:
mark

(85, 92, 78, 89, 95, 81, 90, 88, 84, 91)