#Sorted function

In [1]:
animal = [
    "Lion",
    "Elephant",
    "Tiger",
    "Giraffe",
    "Bear",
    "Zebra",
    "Wolf",
    "Dolphin",
    "Eagle",
    "Penguin",
    "Gorilla",
    "Kangaroo",
    "Cheetah",
    "Panda",
    "Rhino",
    "Hippopotamus",
    "Octopus",
    "Koala",
    "Crocodile",
    "Orangutan"
]

animal

['Lion',
 'Elephant',
 'Tiger',
 'Giraffe',
 'Bear',
 'Zebra',
 'Wolf',
 'Dolphin',
 'Eagle',
 'Penguin',
 'Gorilla',
 'Kangaroo',
 'Cheetah',
 'Panda',
 'Rhino',
 'Hippopotamus',
 'Octopus',
 'Koala',
 'Crocodile',
 'Orangutan']

In [2]:
animal.sort()

In [3]:
animal

['Bear',
 'Cheetah',
 'Crocodile',
 'Dolphin',
 'Eagle',
 'Elephant',
 'Giraffe',
 'Gorilla',
 'Hippopotamus',
 'Kangaroo',
 'Koala',
 'Lion',
 'Octopus',
 'Orangutan',
 'Panda',
 'Penguin',
 'Rhino',
 'Tiger',
 'Wolf',
 'Zebra']

In [4]:
animal.sort(reverse=True)

In [5]:
animal

['Zebra',
 'Wolf',
 'Tiger',
 'Rhino',
 'Penguin',
 'Panda',
 'Orangutan',
 'Octopus',
 'Lion',
 'Koala',
 'Kangaroo',
 'Hippopotamus',
 'Gorilla',
 'Giraffe',
 'Elephant',
 'Eagle',
 'Dolphin',
 'Crocodile',
 'Cheetah',
 'Bear']

In [6]:
animal.sort()

In [7]:
animal

['Bear',
 'Cheetah',
 'Crocodile',
 'Dolphin',
 'Eagle',
 'Elephant',
 'Giraffe',
 'Gorilla',
 'Hippopotamus',
 'Kangaroo',
 'Koala',
 'Lion',
 'Octopus',
 'Orangutan',
 'Panda',
 'Penguin',
 'Rhino',
 'Tiger',
 'Wolf',
 'Zebra']

In [9]:
sorted(animal)

['Bear',
 'Cheetah',
 'Crocodile',
 'Dolphin',
 'Eagle',
 'Elephant',
 'Giraffe',
 'Gorilla',
 'Hippopotamus',
 'Kangaroo',
 'Koala',
 'Lion',
 'Octopus',
 'Orangutan',
 'Panda',
 'Penguin',
 'Rhino',
 'Tiger',
 'Wolf',
 'Zebra']

#difference between Sort() and sorted()
##sorted()


*   it does not change the real value it just create new variable


##sort()

*  it change the real value of existing varible

In [14]:
animal = [
    "Lion",
    "Elephant",
    "Tiger",
    "Giraffe",
    "Bear",
    "Zebra",
    "Wolf",
    "Dolphin",
    "Eagle",
    "Penguin",
    "Gorilla",
    "Kangaroo",
    "Cheetah",
    "Panda",
    "Rhino",
    "Hippopotamus",
    "Octopus",
    "Koala",
    "Crocodile",
    "Orangutan"
]

animal

['Lion',
 'Elephant',
 'Tiger',
 'Giraffe',
 'Bear',
 'Zebra',
 'Wolf',
 'Dolphin',
 'Eagle',
 'Penguin',
 'Gorilla',
 'Kangaroo',
 'Cheetah',
 'Panda',
 'Rhino',
 'Hippopotamus',
 'Octopus',
 'Koala',
 'Crocodile',
 'Orangutan']

In [20]:
#!/usr/bin/python3
using_sorted= sorted(animal)
print(using_sorted)
print('\n')
print("see here difference \n\n")
# see here it does not changed at all
print(animal)

['Bear', 'Cheetah', 'Crocodile', 'Dolphin', 'Eagle', 'Elephant', 'Giraffe', 'Gorilla', 'Hippopotamus', 'Kangaroo', 'Koala', 'Lion', 'Octopus', 'Orangutan', 'Panda', 'Penguin', 'Rhino', 'Tiger', 'Wolf', 'Zebra']


see here difference


['Lion', 'Elephant', 'Tiger', 'Giraffe', 'Bear', 'Zebra', 'Wolf', 'Dolphin', 'Eagle', 'Penguin', 'Gorilla', 'Kangaroo', 'Cheetah', 'Panda', 'Rhino', 'Hippopotamus', 'Octopus', 'Koala', 'Crocodile', 'Orangutan']

In [23]:
#!/usr/bin/python3
print('This is before the operation',animal)

animal.sort()

print('This is after the operation',animal)
animal.sort(reverse =True)
animal

This is before the operation ['Zebra', 'Wolf', 'Tiger', 'Rhino', 'Penguin', 'Panda', 'Orangutan', 'Octopus', 'Lion', 'Koala', 'Kangaroo', 'Hippopotamus', 'Gorilla', 'Giraffe', 'Elephant', 'Eagle', 'Dolphin', 'Crocodile', 'Cheetah', 'Bear']
This is after the operation ['Bear', 'Cheetah', 'Crocodile', 'Dolphin', 'Eagle', 'Elephant', 'Giraffe', 'Gorilla', 'Hippopotamus', 'Kangaroo', 'Koala', 'Lion', 'Octopus', 'Orangutan', 'Panda', 'Penguin', 'Rhino', 'Tiger', 'Wolf', 'Zebra']

['Zebra',
 'Wolf',
 'Tiger',
 'Rhino',
 'Penguin',
 'Panda',
 'Orangutan',
 'Octopus',
 'Lion',
 'Koala',
 'Kangaroo',
 'Hippopotamus',
 'Gorilla',
 'Giraffe',
 'Elephant',
 'Eagle',
 'Dolphin',
 'Crocodile',
 'Cheetah',
 'Bear']

In [26]:
animal.sort(key =len )
# this will print by len

In [25]:
animal

['Wolf',
 'Lion',
 'Bear',
 'Zebra',
 'Tiger',
 'Rhino',
 'Panda',
 'Koala',
 'Eagle',
 'Penguin',
 'Octopus',
 'Gorilla',
 'Giraffe',
 'Dolphin',
 'Cheetah',
 'Kangaroo',
 'Elephant',
 'Orangutan',
 'Crocodile',
 'Hippopotamus']

In [29]:
animal.sort(key =len,reverse =True )
# this will print by len and reverse order

In [30]:
animal

['Hippopotamus',
 'Orangutan',
 'Crocodile',
 'Kangaroo',
 'Elephant',
 'Penguin',
 'Octopus',
 'Gorilla',
 'Giraffe',
 'Dolphin',
 'Cheetah',
 'Zebra',
 'Tiger',
 'Rhino',
 'Panda',
 'Koala',
 'Eagle',
 'Wolf',
 'Lion',
 'Bear']

#about memort location

*   about mutable and immuatble

In [33]:
a =list(range (10))

In [34]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
print(f"The value of list a is{a}")
print(f"The Memory location of {id(a)}")
# now lets modify the list
a+=a

print(f"The value of list A after modification  is{a}")
print(f"The Memory location of {id(a)}")

# id remains same because list are mutable

The value of list a is[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The Memory location of 135282770896896
The value of list A after modification  is[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The Memory location of 135282770896896

In [54]:
name = 'hello python'
print(name)
print(id(name))
print("these above shown is before the climax")

name ='Im python developer'
print(name)
print(id(name ))
# it will change the memory location

hello python
135282770861808
these above shown is before the climax
Im python developer
135282770054000

#handle missing value

In [76]:
dict_value ={'name':'Radhe','age':25, 'Place':{'India','Bharat'}}  # i know place name is same

In [59]:
dict_value['Place']

{'Bharat', 'India'}

In [71]:
dict_value['Place']

{'Bharat', 'India'}

In [94]:
import collections as cl


d1 = {
    'name': 'Radhe',
    'age': 25,
    'Place': {'India', 'Bharat'}
}

# Initialize defaultdict with a default value for missing keys
check = cl.defaultdict(lambda: 'key does not exist', d1)

print(check['name'])  # This will print 'Radhe'
print(check['wrong_key'])  # This will print 'key does not exist'

Radhe
key does not exist

#lamda function or anonymous function

In [95]:
addition = lambda no1 ,no2 : no1+no2
print(addition(10,20))

30

In [98]:
x = lambda a :a**2
print(x(10))

100

In [114]:
square = lambda x : x**2
print(square(10))

100

In [120]:

subtraction =lambda x , y: f"The subtraction of {x} {y} is {x-y}"
print(subtraction(12,25))

The subtraction of 12 25 is -13

##comapre two numbers

In [121]:
finding_max =lambda x , y : x if x>y else y

In [122]:
finding_max(25,35)

35

In [125]:
finding_max(0,1)

1

##finding len of string

In [126]:
find_len = lambda value : len(value)

In [127]:
find_len("hello")

5

In [129]:
find_len("i love coding") #it includes spaces

13

#map()

In [131]:
numbers =[1,2,5,6,8,9,10]
x = map(lambda x : x*2 ,numbers)
print(x)
print(list(x))

<map object at 0x7b09e39abe20>
[2, 4, 10, 12, 16, 18, 20]

In [135]:
def sqr_no(x):
  return x**2

num =[1,2,3,4,5,6,7,8,9,10]

map_fun =map(sqr_no,num)
print(map_fun)
print(list(map_fun))

<map object at 0x7b09e3ab3eb0>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#filter()

*   it only return which value is TRue

In [145]:
num =[1,2,3,4,5,6,7,8,9,10]

fil =filter(lambda x :x%2==0 ,num)
x =list(fil)

In [146]:
fil

In [147]:
x

[2, 4, 6, 8, 10]

In [148]:
a =list(filter(lambda x :x>50,list(range(100))))

In [150]:
print(a)
# it only return true values not false

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]