#function

In [1]:
def rectange_angle(height,width):
  return height*width

print(rectange_angle(width=10,height=20))

200

In [12]:
def find_big(num1,num2):
  if num1>num2:
    print(f"{num1} is bigger than {num2}")
  elif num1<num2:
    print(f"{num2} is bigger than {num1}")
  else:
    print("Both numbers equal")

find_big(10,20)
find_big(50,12)
find_big(10,10)

20 is bigger than 10
50 is bigger than 12
Both numbers equal

In [25]:
def parameter(a, b=10,c=20):
  print(f"a is {a} b is {b} and c is {c}\n")
parameter(10,20)
parameter(25)
parameter("hello",c = 255)

parameter("i dont know ",b=100000,c=2)

a is 10 b is 20 and c is 20

a is 25 b is 10 and c is 20

a is hello b is 10 and c is 255

a is i dont know  b is 100000 and c is 2

In [31]:
x = 20
def value (x):
  print("the local x",x)
  x = 56
  print('The X value is ',x)
print('The x value is ',x)

The x value is  20

In [32]:
value(x)
#when i call function then inside x value value shows

the local x 20
The X value is  56

#*args
1. number of args can pass here
2. syntax is def fun_name (*args)

In [33]:
def no_of_args_pass(*value):
  for i in value:
    print(i)

In [35]:
no_of_args_pass("hello","python","developers",'sharingan')

hello
python
developers
sharingan

In [36]:
no_of_args_pass(1,2,5,9,7,8,4,6,5,9,8,7,8)

1
2
5
9
7
8
4
6
5
9
8
7
8

#**kwargs
1. this is dict type number of args can  add in pair key value
syntax def fun_name (**kwargs):
    statement

In [37]:
def user_data (**data):
  print(f"The Type of data is {type(data)}")\

  for key ,value in data.items():
    print(f"{key} is {value}")

In [39]:
user_data(FirstName="Ray",LastName="Vision",email='rayvision@gmail.com')

The Type of data is <class 'dict'>
FirstName is Ray
LastName is Vision
email is rayvision@gmail.com

In [40]:
user_data(FirstName="Hinata",LastName="Hyuga",email='narutohina@gmail.com',place ='Japan',children_name =['Boruto','Himawari'])

The Type of data is <class 'dict'>
FirstName is Hinata
LastName is Hyuga
email is narutohina@gmail.com
place is Japan
children_name is ['Boruto', 'Himawari']