#regex

##re.search()

In [13]:
import re
data = "Python is All rounder"
pattern =re.search("^Python.*rounder$",data)
if pattern :
  print("yes found")
else:
  print("Not found")

yes found

In [9]:
import re
txt = "The rain in Hydrabad"
x = re.search("^The.*Hydrabad$",txt)
if x:
  print("Yes")
else:
  print("No")

Yes

##re.findall()

In [18]:
import re
txt = "I like python what is python what are feature of python"

pattern = re.findall("py",txt)
print(pattern)

['py', 'py', 'py']

In [32]:
import re

nameage = """ Obito is 14 and Rin is 14 and Kakashi is 20 and Hinata is 18 and Naruto is 18 and Madara is 78848448 """

age = re.findall(r'\d{1,2}',nameage)# {1,2} it only allow 2 digits

names = re.findall(r'[A-Z][a-z]*',nameage)
print(age)
print(names,'\n')
age_name = {}
x = 0
for name in names:
  age_name[name] = age[x] #x is used to add index position x value is currently 0 when loop start 0 1 2 value it will add in dict
  x+=1
print(age_name)

['14', '14', '20', '18', '18', '78', '84', '84', '48']
['Obito', 'Rin', 'Kakashi', 'Hinata', 'Naruto', 'Madara']

{'Obito': '14', 'Rin': '14', 'Kakashi': '20', 'Hinata': '18', 'Naruto': '18', 'Madara': '78'}

In [42]:
import re
nameage = """ obito is 14 and Rin is 14 and Kakashi is 20 and Hinata is 18 and naruto is 18 and madara is 78848448 """

age =re.findall(r'\d{1,2}',nameage) #['14', '14', '20', '18', '18', '78', '84', '84', '48']
name = re.findall(r'[A-Z][a-z]*',nameage) #['Rin', 'Kakashi', 'Hinata']

# because it start to check which letter start with upper letter then after upper it check lower letter then all
print(name)

['Rin', 'Kakashi', 'Hinata']

In [39]:
age

['14', '14', '20', '18', '18', '78', '84', '84', '48']

##re.split()

In [43]:
import re
message = 'Hello Im Obito Uchiha'
pattern = re.split('\s',message)  #\s is used to check spaces white spaces
print(pattern)

['Hello', 'Im', 'Obito', 'Uchiha']

In [45]:
import re
alpha_num = "i like anime 07 i dont like addition123243343"
pattern ='\d+' # it checks where digits are occures more than once
result = re.split(pattern , alpha_num) # here it split wherever digit comes it split
print(result)

['i like anime ', ' i dont like addition', '']

In [61]:
import re
phone = '987-654-3210 #Hello this is number'
pattern  =  re.sub(r'#.*$','',phone)# it is replacing
print(pattern)


num =re.sub(r'\D','',phone)#D is used opposite which is not digit it remove -
print(num)

987-654-3210
9876543210

In [63]:
import re
names = 'Ram,Sham,Viyam,Mam,Sam'
pattern = re.findall(r'[M-R]am',names)
print(pattern)

['Ram', 'Mam']

In [64]:
import re

# Example string
string = "Hello world! This is a test string."
word = "test"

# Check if the word exists in the string using findall
if re.findall(word, string):
    print(f"The string contains the word '{word}'.")
else:
    print(f"The string does not contain the word '{word}'.")

The string contains the word 'test'.