#iterators()

In [1]:
names = ['Disha',"Muskan","Raja ",'Hinata','yash']
names

['Disha', 'Muskan', 'Raja ', 'Hinata', 'yash']

In [19]:
x = names.__iter__()

In [20]:
print(x)

<list_iterator object at 0x7a2ca3da6890>

In [21]:
for obj in names:
  print(f"This is a object {obj}")

This is a object Disha
This is a object Muskan
This is a object Raja
This is a object Hinata
This is a object yash

#converting data into directly to iterator

1.   IT SAVE STORAGE

In [33]:
new_iterators = iter(names)

In [34]:
print(next(new_iterators))

Disha

In [43]:
name  =  [i for i in range(20000)]

In [ ]:
name

In [54]:
import sys
print(f"The size of variable size :  {sys.getsizeof(name)} bytes")

The size of variable size :  173016 bytes

In [55]:
convert_data = iter(name)

In [57]:
import sys
print(f"The size of variable size :  {sys.getsizeof(name)} bytes")
print('-----------------------------------------')

print("after iterator")
import sys
print(f"The size of variable size :  {sys.getsizeof(convert_data)} bytes")

The size of variable size :  173016 bytes
-----------------------------------------
after iterator
The size of variable size :  48 bytes

##lets calculate

In [61]:
x = 173016/1024 #kb
y =x/1024 #Mb
z =y /1024 #gb

print(x)
print(y)

print(z)

a = 173016/(1024*1024)

168.9609375
0.16500091552734375
0.00016113370656967163

In [62]:
a

0.16500091552734375

##next ()

* it just print next values

In [65]:
X ='I DONT KNOW WHAT TO DO'

y = iter(X)

I

In [70]:
print(next(y))

T

In [89]:
def gen (x):
  for x in range(x):
    yield x**2
  #yield means produce
  #

In [98]:
square = gen(10)
next(square)

0

In [100]:
next(square)

4

#generator()

* generator use yield()
* also also use next()
* without next it will return an object
* yeild return one by one value
* also know as lazy function
* it save memory space

In [132]:
def new_gen(x):
  for i in range(x):
    yield i

In [133]:
x =new_gen(2000)

In [138]:

print(next(x))

4

#Fibonacci series using gen

In [139]:
def fib (limit):
  a,b =0,1
  while a<limit:
    yield a
    a,b =b,a+b

In [150]:
x = fib(10)

In [151]:
print(next(x))

0

In [152]:
#another way
while True:
  try:
    print(next(x),end ='\n')

  except StopIteration:
    break

1
1
2
3
5
8