In [4]:
a = list(input("Enter The value:"))
print(a)
len(a)

Enter The value:12345
['1', '2', '3', '4', '5']

5

#INDEX VALUE HERE


1 2 3 4 5

---


0 1 2 3 4

In [5]:
for i in range(1,len(a),1):
  print(a[i:] + a[:i] )

['2', '3', '4', '5', '1']
['3', '4', '5', '1', '2']
['4', '5', '1', '2', '3']
['5', '1', '2', '3', '4']

In [11]:
x = ['1', '2', '3', '4', '5']
x[0:5]

['1', '2', '3', '4', '5']

#Distance between 2 data points  in x y

##euclidean distance method
##d = √[(x2 – x1)2 + (y2 – y1)2]

In [14]:
import math
x1 = int(input('Enter The x1:'))
y1 = int(input("Enter The y1:"))
print(x1,y1)

Enter The x1:10
Enter The y1:20
10 20

In [ ]:
x2 = int(input('Enter The x2:'))
y2 = int(input("Enter The y2:"))
print(x2,y2)

In [22]:
#distance between  2 data points in x and y
# formula
#d = √[(x2 – x1)2 + (y2 – y1)2]
distance =math.sqrt((x2-x1)**2 +((y2-y1)**2))
print("The Distance of 2 point is =",distance)

The Distance of 2 point is = 7.0710678118654755

In [23]:
distance

7.0710678118654755

In [24]:
!pwd

/content

In [30]:
!clear

#conditional statement

In [27]:
a =20
b =10
if a>b:
  print("yes its big")
else:
  print("no not big")

yes its big

In [29]:
is_male = True
if is_male :
  print("You are Male Sigma man")
else:
  print("You are women not an sigma")

You are Male Sigma man

In [35]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("Your are taller Sigma Guy")
elif is_male and not(is_tall):
  print("Your are short sigma guy")
elif not(is_male) and is_tall:
  print("You are tall but not a male may be women ")
else:
  print("you are not male and neither you are tall ")

Your are taller Sigma Guy

#nested if statement

In [36]:
score = 500
money = 6000
age = 65

if score > 100:
  print("You have good marks ")
  if money >5000:
    print("You have lot of money ")
    if age >=30:
      print("You passed exam in middle age well done ")
    else:
      print("You passed exam in young age good")
  else:
    print("You dont have enough money ")

else:
  print("You have bad marks but dont give up try again")

You have good marks
You have lot of money
You passed exam in middle age well done

###same code in dynamic

In [40]:
# score = 500
# money = 6000
# age = 65
score = int(input("Enter The Scores :"))
money = float(input("Enter The Money how much do u have:"))
age = int(input("Enter The Your age :"))


if score > 100:
  print("You have good marks ")
  if money >5000:
    print("You have lot of money ")
    if age >=30:
      print("You passed exam in middle age well done ")
    else:
      print("You passed exam in young age good")
  else:
    print("You dont have enough money ")

else:
  print("You have bad marks but dont give up try again and you have nothing now but one dayu definitly")

Enter The Scores :500
Enter The Money how much do u have:7500
Enter The Your age :45
You have good marks
You have lot of money
You passed exam in middle age well done