#For Loop

In [4]:
for i in range(1,20+1,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
snacks = [
    'Potato Chips',
    'Popcorn',
    'Pretzels',
    'Trail Mix',
    'Chocolate-covered Almonds',
    'Granola Bars',
    'Cheese Puffs',
    'Fruit Salad',
    'Mixed Nuts',
    'Rice Cakes',
    'Dried Mango',
    'Hummus with Pita Bread',
    'Cucumber Slices',
    'Carrot Sticks',
    'Greek Yogurt',
    'Apple Slices with Peanut Butter',
    'Sliced Cheese',
    'Olives',
    'Dark Chocolate',
    'Raisins'
]

print(snacks)

['Potato Chips', 'Popcorn', 'Pretzels', 'Trail Mix', 'Chocolate-covered Almonds', 'Granola Bars', 'Cheese Puffs', 'Fruit Salad', 'Mixed Nuts', 'Rice Cakes', 'Dried Mango', 'Hummus with Pita Bread', 'Cucumber Slices', 'Carrot Sticks', 'Greek Yogurt', 'Apple Slices with Peanut Butter', 'Sliced Cheese', 'Olives', 'Dark Chocolate', 'Raisins']

### this is my snacks list â¬
lets iterate them one by one

snacks = [
    'Potato Chips',
    'Popcorn',
    'Pretzels',
    'Trail Mix',
    'Chocolate-covered Almonds',
    'Granola Bars',
    'Cheese Puffs',
    'Fruit Salad',
    'Mixed Nuts',
    'Rice Cakes',
    'Dried Mango',
    'Hummus with Pita Bread',
    'Cucumber Slices',
    'Carrot Sticks',
    'Greek Yogurt',
    'Apple Slices with Peanut Butter',
    'Sliced Cheese',
    'Olives',
    'Dark Chocolate',
    'Raisins'
]

In [14]:
counting =1
for snacks_names in snacks:
  print("{} snacks name is :{}".format(counting,snacks_names))
  counting+=1
print("The Total Numbers Of snacks :",counting-1)
print("have a good day")

1 snacks name is :Potato Chips
2 snacks name is :Popcorn
3 snacks name is :Pretzels
4 snacks name is :Trail Mix
5 snacks name is :Chocolate-covered Almonds
6 snacks name is :Granola Bars
7 snacks name is :Cheese Puffs
8 snacks name is :Fruit Salad
9 snacks name is :Mixed Nuts
10 snacks name is :Rice Cakes
11 snacks name is :Dried Mango
12 snacks name is :Hummus with Pita Bread
13 snacks name is :Cucumber Slices
14 snacks name is :Carrot Sticks
15 snacks name is :Greek Yogurt
16 snacks name is :Apple Slices with Peanut Butter
17 snacks name is :Sliced Cheese
18 snacks name is :Olives
19 snacks name is :Dark Chocolate
20 snacks name is :Raisins
The Total Numbers Of snacks : 20
have a good day

##range()

In [29]:
a = list(range(1,20+1))

In [30]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#range(start,stop,step)

In [31]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [38]:
for i in range (3,30+1,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [42]:
for k in range(2,30+1,2):
  print("The even number",k)

The even number 2
The even number 4
The even number 6
The even number 8
The even number 10
The even number 12
The even number 14
The even number 16
The even number 18
The even number 20
The even number 22
The even number 24
The even number 26
The even number 28
The even number 30

##another way for print even numbers

In [46]:
#!/usr/bin/env python3

for i in range (1,20+1):
  if i%2==0:
    print("the Even numbers:",i)
  else:
    print("The odd Number is ",i)

The odd Number is  1
the Even numbers: 2
The odd Number is  3
the Even numbers: 4
The odd Number is  5
the Even numbers: 6
The odd Number is  7
the Even numbers: 8
The odd Number is  9
the Even numbers: 10
The odd Number is  11
the Even numbers: 12
The odd Number is  13
the Even numbers: 14
The odd Number is  15
the Even numbers: 16
The odd Number is  17
the Even numbers: 18
The odd Number is  19
the Even numbers: 20

In [ ]:
#!/usr/bin/env python3
for i in range

##arithmetic operations

In [51]:
#!/usr/bin/env python3
sum_no = 0
list1 = [2,2,9]
for num in list1:
  #sum = sum +num
  sum_no +=num
print("The Sum of {} is {}".format(list1,sum_no))

The Sum of [2, 2, 9] is 13

In [52]:
#!/usr/bin/env python3
#it prints each values square
list2 = [5,6,8,9,7]
sum_no = [i **2 for i in list2]
print(sum_no)

[25, 36, 64, 81, 49]

In [58]:
#!/usr/bin/env python3
even=[i for i in range(1,30+1) if i%2==0]
print("The Even Numbers =",even)
odd =[i for i in range(1,30+1) if i%2!=0]
print("The Odd Numbers =",odd)

The Even Numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
The Odd Numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [55]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [59]:
 x =[2,8,65,56,55,21,5,11,25,12,16]
 big =[i for i in x if i>10]

In [70]:
big.sort()
big

[11, 12, 16, 21, 25, 55, 56, 65]

None


##factorial value

In [74]:
factorial =1
fact = int(input("Enter The value :"))
if fact ==0:
  print("Number must be greather than1")
elif fact <0:
  print("number must be positive")
else :
  for fact in range(1,fact+1):
    factorial = factorial *fact
print(f"The factorial of {fact}! is {factorial}")

Enter The value :5
The factorial of 5! is 120

##pass

In [75]:
for i in range(10):
  pass

##continue

In [82]:
#!/usr/bin/env python3
my_name = 'Ray'
list_names =['Obito','Rin','Kushina','Ray','Minato']
for names in list_names:
  if names ==my_name:
    print(f"Yeah My Name is {names}")
    continue
  print(f"My Name is not a {names}")

My Name is not a Obito
My Name is not a Rin
My Name is not a Kushina
Yeah My Name is Ray
My Name is not a Minato

##break

In [84]:
#!/usr/bin/env python3
my_name = 'Ray'
list_names =['Obito','Rin','Kushina','Ray','Minato']
for names in list_names:
  if names ==my_name:
    print("Finally Found My name huh !")
    print(f"Yeah My Name is {names}")
    break
  print(f"My Name is not a {names}")

My Name is not a Obito
My Name is not a Rin
My Name is not a Kushina
Finally Found My name huh !
Yeah My Name is Ray