##for else

In [7]:
#!/usr/bin/env python3
numbers =(1,5,7,9,11,23,565,15,125,147)
for num in numbers:
  if num%2==0:
    print("In numbers there is even numbers are exist")
    break
else:
  print("There is no even numbers in list")

There is no even numbers in list

##Enumerate()

In [10]:
for i, j in enumerate(numbers):
  print(i,j)

0 1
1 5
2 7
3 9
4 11
5 23
6 565
7 15
8 125
9 147

In [14]:
for i in range(10):
  print(i,end =' ')

0 1 2 3 4 5 6 7 8 9

In [21]:
print("In python index is start from 0")
for i ,j in enumerate(range(2,20,2)):

  print(f"The Index of {j} is {i}")

In python index is start from 0
The Index of 2 is 0
The Index of 4 is 1
The Index of 6 is 2
The Index of 8 is 3
The Index of 10 is 4
The Index of 12 is 5
The Index of 14 is 6
The Index of 16 is 7
The Index of 18 is 8

In [31]:
list_names =['Obito','Rin','Kushina','Ray','Minato']
x =enumerate(list_names)
for i in x:
  print(list(i),end ="")

[0, 'Obito'][1, 'Rin'][2, 'Kushina'][3, 'Ray'][4, 'Minato']

#while loop

this will run until condition is became false
loop only start when condition is true

In [36]:
num =0
while num<10:
  num+=1
  print(num)

1
2
3
4
5
6
7
8
9
10

In [40]:
num = 10
while num>5:
  num-=1
  print(num)

9
8
7
6
5

In [41]:
number =0
while number <20:
  number = number +1
  if number%2==0:
    print('even',number)
  else:
    print('odd',number)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20

In [54]:
#!/usr/bin/env python3
number =0
while number <20:
  number = number +1
  if number== 3 or number==7:
    print('number is skiped',number)
    continue
  print(number)

1
2
number is skiped 3
4
5
6
number is skiped 7
8
9
10
11
12
13
14
15
16
17
18
19
20

#nested loop
loop inside another loop is called nested loop

In [67]:
x =list(range(7,10+1))

In [68]:
x

[7, 8, 9, 10]

In [74]:
#!/usr/bin/env python3
list_values =[[0, 1, 2, 3, 4, 5],[7, 8, 9, 10]]
for i in list_values:
  #for debug purpose or to know structure
  #print(i)
  for j in i:
    print(f"The Sqaure of {j} is",j**2)
    #here it first take i[0] list from i then after all done it again go for loop and again take i[1]

The Sqaure of 0 is 0
The Sqaure of 1 is 1
The Sqaure of 2 is 4
The Sqaure of 3 is 9
The Sqaure of 4 is 16
The Sqaure of 5 is 25
The Sqaure of 7 is 49
The Sqaure of 8 is 64
The Sqaure of 9 is 81
The Sqaure of 10 is 100

In [107]:
num =6
for i in range(num):
  for j in range(1,i+1):
    print("* " ,end='')
  print('\n')

*

* *

* * *

* * * *

* * * * *

#functions

In [1]:
def addition(num1,num2):
  return num1+num2

print(addition(10,20))

30

In [11]:
def rectange_angle(height,width):
  return height*width

print(rectange_angle(width=10,height=20))

200